.client-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  border-radius: 18px;
  background: #111;
  margin-bottom: 15px;
  transition: 0.25s ease;
}

.client-card:hover {
  transform: translateX(4px);
}

.client-card h4 {
  color: white;
  margin-bottom: 6px;
}

.client-card p {
  color: #aaa;
}

/*Status*/
.active-status {
  color: #57ff9a;
  background: rgba(87, 255, 154, 0.12);
  border: 1px solid rgba(87, 255, 154, 0.35);
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  box-shadow: 0 0 12px rgba(87, 255, 154, 0.15);
}

.not-active-status {
  color: #ff6b6b;
  background: rgba(255, 107, 107, 0.12);
  border: 1px solid rgba(255, 107, 107, 0.35);
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  box-shadow: 0 0 12px rgba(255, 107, 107, 0.12);
}